[Unit]
Description=Phone home indicator with PiGlow
ConditionPathExistsGlob=/dev/i2c-*

[Service]
Type=oneshot

ExecStart=%h/.local/bin/phone-home-indicator

[Install]
WantedBy=default.target
