[Unit]
Description=Phone home with SSH
ConditionPathExists=%h/.ssh/config

[Service]
Type=forking
Restart=always
RestartSec=60

Environment=REMOTE=remote-box

ExecStartPre=/bin/sh -c 'networkctl status | grep -q "State: routable"'
ExecStart=/usr/bin/ssh -v -f -NT \
    -oPreferredAuthentications=publickey \
    -oExitOnForwardFailure=yes \
    -oServerAliveInterval=60 \
    ${REMOTE}

[Install]
WantedBy=default.target
